{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cv.page_title'|trans }} | My Portfolio
{% endblock %}

{% block body %}

<section class="cv-page">

    <div class="cv-container">

        <header class="cv-header">

            <h1>{{ 'cv.title'|trans }}</h1>

            <p>
                {{ 'cv.intro'|trans }}
            </p>

        </header>

        <div class="cv-card">

            <div class="cv-preview">

                <object
                    data="{{ asset('documents/cv-jean-francois.pdf') }}"
                    type="application/pdf"
                    class="cv-document"
                >
                    <p>
                        {{ 'cv.pdf_unavailable'|trans }}

                        <a href="{{ asset('documents/cv-jean-francois.pdf') }}">
                            {{ 'cv.download'|trans }}
                        </a>
                    </p>
                </object>

            </div>

            <div class="cv-actions">

                <a
                    href="{{ asset('documents/cv-jean-francois.pdf') }}"
                    class="cv-download"
                    download
                >
                    {{ 'cv.download'|trans }}
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}