{% extends 'base.html.twig' %}

{% block title %}
    {{ 'projects.page_title'|trans }} | My Portfolio
{% endblock %}

{% block body %}

<section
    class="projects"
    aria-labelledby="projects-title"
    aria-describedby="projects-intro"
>

    <div class="projects-container">

        <header class="projects-header">

            <h1 id="projects-title">
                {{ 'projects.title'|trans }}
            </h1>

            <p id="projects-intro">
                {{ 'projects.intro'|trans }}
            </p>

        </header>

        <div
            class="accordion-group projects-accordion"
            aria-label="{{ 'projects.title'|trans }}"
        >

            {% for project in projects %}

                {% set project_name = project.name_key|trans %}
                {% set project_id = 'project-' ~ loop.index %}

                <details
                    name="projects-accordion"
                    class="accordion project-accordion"
                    {% if loop.first %}open{% endif %}
                >

                    <summary
                        class="accordion-summary project-accordion-summary"
                        aria-describedby="{{ project_id }}-status"
                    >

                        <span class="project-accordion-title">
                            {{ project_name }}
                        </span>

                        <span
                            id="{{ project_id }}-status"
                            class="
                                project-accordion-status
                                {% if project.in_progress %}
                                    project-accordion-status--progress
                                {% endif %}
                            "
                        >
                            {{ project.status_key|trans }}
                        </span>

                    </summary>

                    <div class="accordion-content project-accordion-content">

                        <div class="project-accordion-main">

                            <div class="project-accordion-info">

                                <p class="project-accordion-description">
                                    {{ project.description_key|trans }}
                                </p>

                                <div class="project-accordion-footer">

                                    <ul
                                        class="project-accordion-technologies"
                                        aria-label="Technologies utilisées pour {{ project_name }}"
                                    >

                                        {% for technology in project.technologies %}

                                            <li>
                                                <img
                                                    src="{{ asset(technology.icon) }}"
                                                    alt="{{ technology.name }}"
                                                >
                                            </li>

                                        {% endfor %}

                                    </ul>

                                    <div
                                        class="project-accordion-links"
                                        aria-label="Liens du projet {{ project_name }}"
                                    >

                                        <a
                                            href="{{ project.github_url }}"
                                            class="project-link project-link--github"
                                            aria-label="{{ 'projects.links.github_aria'|trans({
                                                '%project%': project_name
                                            }) }}"
                                        >

                                            <img
                                                src="{{ asset('images/icones/github-icon-2.svg') }}"
                                                alt=""
                                                aria-hidden="true"
                                            >

                                            <span>
                                                {{ 'projects.links.github'|trans }}
                                            </span>

                                        </a>

                                        <a
                                            href="{{ project.website_url }}"
                                            class="project-link project-link--website"
                                            aria-label="{{ 'projects.links.website_aria'|trans({
                                                '%project%': project_name
                                            }) }}"
                                        >

                                            <img
                                                src="{{ asset('images/icones/internet.svg') }}"
                                                alt=""
                                                aria-hidden="true"
                                            >

                                            <span>
                                                {{ 'projects.links.website'|trans }}
                                            </span>

                                        </a>

                                    </div>

                                </div>

                            </div>

                            <div
                                class="
                                    project-accordion-logo
                                    {% if project.dark_logo_background %}
                                        project-accordion-logo--black
                                    {% endif %}
                                "
                            >

                                <img
                                    src="{{ asset(project.logo) }}"
                                    alt="Logo du projet {{ project_name }}"
                                >

                            </div>

                        </div>

                    </div>

                </details>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}