{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}

<section class="home">
    <video class="home-video" autoplay muted loop playsinline>
        <source src="{{ asset('videos/fondecranvscmp4.mp4') }}" type="video/mp4">
    </video>

    <div class="home-cards">

        <article class="home-card">
            <span>{{ 'home.projects'|trans|raw }}</span>
           <div class="home-card-icon">
           <img src="{{ asset('images/icones/card_projects.svg') }}" alt="">
</div>
        </article>

        <article class="home-card">
            <span>{{ 'home.tools'|trans|raw }}</span>
           <div class="home-card-icon">
    <img src="{{ asset('images/icones/card_tool.svg') }}" alt="">
</div>
        </article>

        <article class="home-card">
            <span>{{ 'home.cv'|trans }}</span>
           <div class="home-card-icon">
    <img src="{{ asset('images/icones/card_cv.svg') }}" alt="">
</div>
        </article>

        <article class="home-card">
            <span>{{ 'home.legal'|trans|raw }}</span>
           <div class="home-card-icon">
    <img src="{{ asset('images/icones/card_legal.svg') }}" alt="">
</div>
        </article>

    </div>

</section>

{% endblock %}