<header class="site-header">

    <nav class="navbar">

        <a href="{{ path('app_home', {'_locale': app.request.locale}) }}" class="navbar-logo">
            <img src="{{ asset('images/logos/logo_myPortFolio.svg') }}" alt="Logo MyPortfolio">
        </a>

        <input type="checkbox" id="menu-toggle" class="menu-toggle">

        <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <ul class="navbar-menu">

            <li><a href="{{ path('app_home', {'_locale': app.request.locale}) }}">{{ 'navbar.home'|trans }}</a></li>

            <li><a href="{{ path('app_skills', {'_locale': app.request.locale}) }}">{{ 'navbar.skills'|trans }}</a></li>

            <li><a href="{{ path('app_projects', {'_locale': app.request.locale}) }}">{{ 'navbar.projects'|trans }}</a></li>

            <li><a href="{{ path('app_contact', {'_locale': app.request.locale}) }}">{{ 'navbar.contact'|trans }}</a></li>

            <li><a href="{{ path('app_cv', {'_locale': app.request.locale}) }}">{{ 'navbar.cv'|trans }}</a></li>

            <li class="mobile-github">
    <a
        href="https://github.com/jefflearning40"
        target="_blank"
        rel="noopener noreferrer"
    >
        GitHub
    </a>
</li>

        </ul>

        <!-- FR / EN -->
        <div class="navbar-language">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'fr'})) }}">FR</a>

            <span>|</span>

            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'en'})) }}">EN</a>
        </div>

        <!-- GitHub -->
       <a
    href="https://github.com/jefflearning40"
    class="navbar-github"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub"
>
    <img
        src="{{ asset('images/icones/github-icon-2.svg') }}"
        alt="GitHub"
    >
</a>

    </nav>

</header>