<header class="site-header">
    <nav class="navbar">
        <a href="{{ path('app_home') }}" class="navbar-logo">
            <img src="{{ asset('images/logo/logo-portfolio.png') }}" alt="Logo portfolio">
        </a>

        <ul class="navbar-menu">
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_skills') }}">Compétences</a></li>
            <li><a href="{{ path('app_projects') }}">Mes créations</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            <li><a href="{{ path('app_cv') }}">CV ▼</a></li>
        </ul>
       
</ul>

        <a href="https://github.com/ton-profil" class="navbar-github" target="_blank">
            <img src="{{ asset('images/icons/github.png') }}" alt="GitHub">
        </a>
    </nav>
</header>